.wrapper {
}

.navbar {
  width: 100%;
  height: 154px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242526;
  padding-left: 200px;
  padding-right: 200px;
}

.nav-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}

.buttons {
}

.content {
}
